---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
Conference presentations
{% for post in site.talks reversed %} 
{% if post.pubtype == 'talk' %} 
{% include archive-single.html %} 
{% endif %} 
{% endfor %}
Conference posters
{% for post in site.talks reversed %} 
{% if post.pubtype == 'poster' %} 
{% include archive-single.html %} 
{% endif %} 
{% endfor %}
Other presentations
{% for post in site.talks reversed %} 
{% if post.pubtype == 'other' %} 
{% include archive-single.html %} 
{% endif %} 
{% endfor %}
