---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
<h>Conference presentations</h>
{% for post in site.talks reversed %} 
{% if post.pubtype == 'talk' %} 
{% include archive-single.html %} 
{% endif %} 
{% endfor %}

<h2>Conference posters</h2>
{% for post in site.talks reversed %} 
{% if post.pubtype == 'poster' %} 
{% include archive-single.html %} 
{% endif %} 
{% endfor %}

<h2>Other presentations</h2>
{% for post in site.talks reversed %} 
{% if post.pubtype == 'other' %} 
{% include archive-single.html %} 
{% endif %} 
{% endfor %}
